In [3]:
import numpy
import pandas

In [22]:
!pip install -U pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/db/83/7d4008ffc2988066ff37f6a0bb6d7b60822367dcb36ba5e39aa7801fda54/pandas-0.24.2-cp27-cp27mu-manylinux1_x86_64.whl (10.1MB)
    100% |████████████████████████████████| 10.1MB 119kB/s eta 0:00:01
Collecting numpy>=1.12.0 (from pandas)
  Using cached https://files.pythonhosted.org/packages/3a/5f/47e578b3ae79e2624e205445ab77a1848acdaa2929a00eeef6b16eaaeb20/numpy-1.16.6-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas)
  Downloading https://files.pythonhosted.org/packages/7f/99/ad6bd37e748257dd70d6f85d916cafe79c0b0f5e2e95b11f7fbc82bf3110/pytz-2023.3-py2.py3-none-any.whl (502kB)
    100% |████████████████████████████████| 512kB 1.4MB/s eta 0:00:01
Collecting python-dateutil>=2.5.0 (from pandas)
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/36/7a/87837f39d0296e723bb9b62bbb257d0355c7f6128853c78955f57342a56d/python_dateutil-2.8.2-py2.py3-none-any.whl (247kB)
    100% |████████████████████████████████| 256kB 3.6MB/s ta 0:00:011
Collecting six>=1.5 (from python-dateutil>=2.5.0->pandas)
  Cache entry deserialization failed, entry ignored
  Cache entry deserialization failed, entry ignored
  Downloading https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Installing collected packages: numpy, pytz, six, python-dateutil, pandas
Successfully installed numpy-1.16.6 pandas-0.24.2 python-dateutil-2.8.2 pytz-2023.3 six-1.16.0

In [15]:
# !pip install -U scikit-learn

In [16]:
# !pip install spark-sklearn

In [17]:
# import spark_sklearn

In [18]:
# !pip list

In [23]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ml-iris').getOrCreate()
df = spark.read.csv('iris.csv', header = True, inferSchema = True)
df.printSchema()

root
 |-- sepal_length: double (nullable = true)
 |-- sepal_width: double (nullable = true)
 |-- petal_length: double (nullable = true)
 |-- petal_width: double (nullable = true)
 |-- species: string (nullable = true)

In [24]:
import pandas as pd
pd.DataFrame(df.take(5), columns=df.columns).transpose()

                   0       1       2       3       4
sepal_length     5.1     4.9     4.7     4.6       5
sepal_width      3.5       3     3.2     3.1     3.6
petal_length     1.4     1.4     1.3     1.5     1.4
petal_width      0.2     0.2     0.2     0.2     0.2
species       setosa  setosa  setosa  setosa  setosa

In [25]:
numeric_features = [t[0] for t in df.dtypes if t[1] == 'double']
df.select(numeric_features).describe().toPandas().transpose()

ImportError: Pandas >= 1.0.5 must be installed; however, your version was 0.22.0.

In [28]:
# !pip freeze